<configuration>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %highlight([%level]) [%thread] %logger{36} - %msg %n%replace(%throwable){'\\n','\\n\t'}%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/app.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %highlight([%level]) [%thread] %logger{36} - %msg %n%replace(%throwable){'\\n','\\n\t'}%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="TRACE">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>